* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background: #f4f4f4;
}
.header {
    height: 50px;
    background: rgba(127, 157, 176, 1);
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header img {
    width: 300px;
    height: auto;
}
.image1 img{
    width: 160px;
    height: auto;
    display: block;
}
.image2 img {
    width: 30px;
    height: auto;
    display: block;
}
h2 {
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 2px;
}
.main {
    display: flex;
    justify-content: center;
}
.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%; 
    max-width: 1100px;
    height: auto;
    margin-bottom: 20px;
}
.time {
    background-color: rgba(86, 139, 175, 1);
    width: 100%; 
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.time p {
    margin-left: 10px;
    font-size: 20px;
}
.bagian {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 100px; 
    background: rgba(213, 227, 230, 1);
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
    border: 1px solid rgba(102, 102, 102, 1);
}
.icon {
    background-color: rgba(127, 157, 176, 1);
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.icon img {
    width: 60px;
    height: auto;
}
.teks1 {
    font-size: medium;
}
.teks {
    font-size: larger;
}
.bagian2 {
    justify-content: space-between; 
    align-items: flex-start; 
    width: 80%; 
    gap: 20px;
    flex-wrap: wrap; 
}
.notif, .payment-list {
    background: rgba(213, 227, 230, 1);
    flex: 1; 
    padding: 15px;
    border-radius: 5px;
    width: 150px;
    box-sizing: border-box; 
    border: 1px solid rgba(102, 102, 102, 1);
}
.boxnotif {
    background: rgba(127, 157, 176, 1);
    margin-top: 5px;
    padding: 3px;
}
.payment {
    margin-top: 5px;
}
.payment-box {
    border: 1 px solid black;
    padding-left: 5px;
}
/* .payment-box2 {
    border: 1 px solid black;
    padding-left: 5px;
    margin-left: 10px;
} */





